.controls {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.button {
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 10px;
  &:hover {
    background-color: var(--step-color--hover);
  }
  &:active{
    background-color: var(--step-color--active);
  }

  transition: background-color 50ms linear;
}


.stopped {
  border-color: green;
  background-image: url("../public/play.png");
}
.playing {
  background-color: var(--step-color--active);
  background-image: url("../public/stop.png");
  color: var(--input-color);
  &:hover {
    background-color: var(--step-color--active);
  }
}

.togglePlay {
  width: 56px;
  height: 40px;

  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;

}

.bpmText {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  color: var(--instrument-name-color);
}

.bpm {
  width: 120px;
  text-align: right;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px;
  height: 40px;
}

.logo {
  color: var(--instrument-name-color);
  font-size: 47px;

  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: -5px;
  line-height: 0;
}
.helper {
  color: var(--font-color);
  font-size: 12px;
  flex: 1;
  align-self: self-end;
  padding-left: 10px;
}

.center {
  display: flex;
  align-items: center;
  gap: var(--step-group-margin);
}
