.track {
  display: flex;
  align-items: center;
  user-select: none;
}

.trackName {
  width: var(--track-name-width);
  color: var(--instrument-name-color);
  padding: 5px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  user-select: none;

  &:focus-visible {
    outline: none;
    background-color: var(--input-color);
    color: var(--input-font-color);
  }
}

.trackSteps {
  display: flex;
  align-items: flex-end;
}
